@import url(reset.css);
@import url(variables.css);

/*Parte do corpo*/
body{
    background:var(--cor-de-fundo);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "main aside"
    "footer footer";
    grid-template-columns: 4fr 1fr
}

/*header*/

.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-secundaria);
    padding: 10px;
    align-items: center;
    border-radius: var(--broda-arredondada);
    font-size: 20px;
}

.navegacao{
  
   width: 30%;
   padding: 5px;
   border-radius: var(--broda-arredondada);
}

.navegacao ul{
    display: flex;
    gap: 10px;
    
    
}
.navegacao ul li{
    list-style: none;
    padding: 5px;
    
    
}
.navegacao ul li a{
    text-decoration: none;
    color: blue;
    font-size: 17px;
    
}

.container{
    grid-area: main;
    display: flex;
    width: 90%;
    margin-top: 30px;
    padding: 10px;
    align-items: center;
    border-radius: var(--broda-arredondada);
    flex-wrap: wrap;
    flex-direction: column;
    color: black;
    gap: 15px;
}

.container h1{
    color: white;
}
.container h1{
    text-align: center;
    margin-bottom: 10px;
}

.cards{
    text-align: center;
   padding: 20px;
    background-color: rgb(231, 197, 0);
    border-radius: var(--broda-arredondada);
}
.cards img{
    border-radius: var(--broda-arredondada);
    margin-bottom: 10px;
}


.cards p{
    text-align: justify;

}

.cards button{
    padding: 10px;
    margin: 10px;
    text-align: left;
    background-color: rgb(65, 65, 255);
    border-radius: var(--broda-arredondada);
}
.cards button a{
    color: white;
    text-decoration: none;
}

.container-aside{
    grid-area: aside;
    background-color: var(--cor-secundaria);
    height: 45%;
    margin: 30px;
    width: 80%;
    border-radius: var(--broda-arredondada);
    padding: 15px;
}

footer{
    grid-area: footer;
}